version: '3'

services:

  # PYTHON
  api:
    build:
      context: ./python
      dockerfile: ./docker/Dockerfile
    command: start_api.sh
    env_file:
      - .env
    network_mode: "host"
    restart: unless-stopped

  parsers:
    build:
      context: ./python
      dockerfile: ./docker/Dockerfile
    command: python parsers/run.py
    env_file:
      - .env
    network_mode: "host"
    restart: unless-stopped

  # GOLANG
  api-go:
    build:
      context: ./golang
      dockerfile: ./docker/Dockerfile
    env_file:
      - .env
    network_mode: "host"
    restart: unless-stopped

  # RUST