fastapi >=0.62.0, <0.63.0
uvicorn[standard] >=0.12.3, <0.13
ujson >=4.0.1, <4.1

gunicorn >= 20.0.4, <20.1

aiohttp >=3.6.2, <4
aiodns >=2.0.0, <3
cchardet >=2.1.6, <3

psycopg2 >=2.8.5, <2.9
asyncpgsa >=0.26.3, <1
SQLAlchemy <1.4

python-dotenv >=0.15.0, <0.16

lxml >=4.5.1, <5
